NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_POOL_MAX=10
DB_MIGRATION_DIRECTORY=src/migrations
DB_MIGRATION_EXTENSION=ts
ACCESS_SECRET=
REFRESH_SECRET=
ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
CORS_ORIGINS=http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_FROM_EMAIL=
MAILJET_FROM_NAME=
