PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_POOL_MAX=10
DB_MIGRATION_DIRECTORY=src/migrations
DB_MIGRATION_EXTENSION=ts
ACCESS_SECRET=
REFRESH_SECRET=
ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
